.mt {
  margin: 0.25rem 0 0 0;
}
.identity-chips {
  padding: 1rem 0.25rem 0;
}
.form-group-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 1.75rem 0 0 0;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.links-group .form-group:last-child {
  margin: 0.5rem 0 0 0;
}
#newLinkUrl-input.error {
  border-color: #f44336;
  outline: none;
}
.url-input-error {
  margin: 0.5rem 0;
  text-align: left;
}
#add-link {
  margin: 1rem auto 0.5rem auto;
  border: 1px solid #757575;
  color: #666;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border-radius: 1.25rem;
}
#add-link:hover,
#add-link:active {
  border-color: #555;
  color: #444;
}
#add-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.05);
  border-color: #555;
  color: #444;
}
#add-link[disabled] {
  pointer-events: none;
  background-color: #f5f5f5;
  opacity: 0.6;
}
.empty-link-list {
  margin: 1.5rem 0 2.5rem;
}
.empty-identities {
  margin: 1.25rem 0 2rem;
}
#save-button {
  width: 6rem;
}
@media screen and (min-width: 480px) {
  .identities-group {
    align-items: flex-start;
  }
  .links-group label {
    min-width: 3rem;
  }
  .new-link-group,
  .link-item {
    display: flex;
  }
  .links-group .form-group {
    flex: 1 1 auto;
  }
  .links-group .form-group:last-child {
    margin: 1rem 0 0 0.75rem;
  }
  .url-input-error {
    text-align: right;
  }
}
